*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: white !important;
  font-family: "Arya", sans-serif !important;
}

.container {
  background-color: rgba(28, 160, 172, 0.747);
  border-radius: 50px;
  height: 50vh;
  width: 75%;
  text-transform: uppercase;
  padding: 1rem;
  font-size: 5rem;
  text-align: center;
  display: flex;
  align-items: center;
}

.container__text {
  text-transform: uppercase;
  padding: 1rem;
  font-size: 5rem;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .container__text {
    width: 70%;
  }

  .container {
    background-color: rgba(28, 160, 172, 0.747);
    border-radius: 50px;
    height: 30vh;
    width: 70%;
    font-size: 2rem;

  }
}